In [20]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [21]:
url='https://www.dandwiki.com/wiki/5e_Aberration_Races'

In [22]:
page=requests.get(url)
page=page.text

In [71]:
soup=BeautifulSoup(page, 'html.parser')

In [99]:
tableOdd=soup.find_all('tr')
tableEven=soup.find_all('tr', class_='even')
type(tableOdd)

bs4.element.ResultSet

In [100]:
table=[]
for row in tableOdd:
    rowDict={}
    for i, cell in enumerate(row.find_all('td')):
        rowDict[i]=cell.text
    table.append(rowDict)
odds=pd.DataFrame(table)

In [101]:
table=[]
for row in tableEven:
    rowDict={}
    for i, cell in enumerate(row.find_all('td')):
        rowDict[i]=cell.text
    table.append(rowDict)
evens=pd.DataFrame(table)

In [102]:
odds.head()

,0,1,2,3,4,5,6,7,8
0,“\n,Aberrations are utterly alien beings. Many of ...,”\n,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Alloprax,"Oddities among mortalkin, the alloprax stand a...","Your Constitution score increases by 2, and yo...",Alloprax hold roughly the same size and build ...,Your base walking speed is 30 feet.\n,NaN,NaN,NaN,NaN
3,Anamesa,Humanoids whose consciousness is divided betwe...,"Your Charisma score increases by 2, and one ot...",Your size is the same as your physical race wh...,Your base walking speed is 30 feet.\n,NaN,NaN,NaN,NaN
4,Banette,Cursed dolls who seek revenge against the ones...,"Your Dexterity, Intelligence and Charisma scor...",Banettes stand at a little above 3 and a half ...,Your base walking speed is 30 feet.\n,NaN,NaN,NaN,NaN

In [103]:
odds=odds.drop([5,6,7,8], axis=1)
evens=evens.drop([5,6,7,8], axis=1)
odds.columns=['Name','Sumary','Abilities','Size','Speed']
evens.columns=['Name','Sumary','Abilities','Size','Speed']

In [104]:
odds.shape

(49, 5)

In [98]:
pd.concat([odds, evens], ignore_index=True).sort_values('Name').shape

(46, 5)

In [107]:
def getTable(URL):
    page=requests.get(URL).text
    soup=BeautifulSoup(page, 'html.parser')
    for kind in ['odd', 'even']:
        fullTable=soup.find_all('tr', class_=kind)
        half=[]
        for row in fullTable: